@{
    Layout=null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select2 Example</title>


    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <select class="js-example-basic-multiple" name="states[]" multiple="multiple" style="width: 300px;">
        <option value="AL">Alabama</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">4</option>
        <option value="5">6</option>
    </select>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({
                placeholder: "Select an option",

                allowClear: true
            });
        });
    </script>
</body>
</html>
