@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Reset</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />

</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div class="container-fluid">
            @if (TempData["TokenError"] != null)
            {

                <div class="position-fixed mt-5 start-50 translate-middle">
                    <div class="toast d-flex" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto text-danger">Error</strong>
                        </div>
                        <div class="toast-body text-danger">
                            @TempData["TokenError"]
                        </div>
                    </div>
                </div>

            }
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">


                    <form method="post" asp-action="ResetPassword" asp-controller="Home" novalidate>
                        <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                            <div class="d-flex align-items-center justify-content-between mb-3">

                                <h2>Reset Password</h2>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="hidden" name="Token" value="@Model.Token" />

                                <input type="password" class="form-control" id="NewPassword" name="NewPassword" required placeholder=" password">
                                <label for="floatingInput">Password</label>

                            </div>

                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script>
        (function () {
            'use strict';

            // Fetch the form element
            var form = document.getElementById('loginForm');

            // Add event listener for form submission
            form.addEventListener('submit', function (event) {
                // Check if the form is valid
                if (!form.checkValidity()) {
                    event.preventDefault(); // Prevent form submission
                    event.stopPropagation(); // Stop event bubbling
                }

                // Add Bootstrap's validation classes
                form.classList.add('was-validated');
            }, false);
        })();
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'));
            var toastList = toastElList.map(function (toastEl) {
                return new bootstrap.Toast(toastEl);
            });

            // Show the toast programmatically
            toastList.forEach(toast => toast.show());
        });
    </script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <script src="js/main.js"></script>
    <script src="~/js\site.js"></script>

</body>

</html>
